section.content{
	width: 60%;
	margin: 0 auto;
}

aside{
	width: 150px;
	font-size: 20px;
	padding: 30px;
	border-right: 2px solid #4272FF;
}
aside h3{
	text-align: center;
	border-bottom: 3px solid #4272FF;
	margin-left: 30px;
}
aside ul li{
	margin: 20px 0px;
	list-style: none;
	text-align: center;
}