#bgimg{
	position: relative;
	height: 500px;
	background-image: url("/static/images/notepad.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#appdesc{
	font-size: 20px;
	width: 400px;
	background-color: #001;
	opacity: 0.6;
	color: white;
	position: absolute;
	bottom: 30px;
	right: 100px;
	padding: 20px;
	float: right;
	border-radius: 10px;
}

.stand_out{
	font-weight: bolder;
	font-style: italic;
	color: green;
}

.reduce{
	font-size: 15px;
}

.center_form{
	width: 500px;
	margin: 0px auto;
}

.divlab:hover {
    background: #f2f5ff;
    border-radius:5px;
    padding:2px 4px;
}
 .ui.vertical.divider {
    margin: 0 4px;
  }
  .ui.raised.segment {
    background-color: #fffacd;
    width: 600px;
    margin-top: 0;
    position: fixed;
    left: 10px;
    top: 10px;
  }
  .footer {
    text-align: right;
  }
  .text {
    display: inline;
  }
  a {
    text-decoration: none;
    color: #1E90FF;
  }
  .home_btn{
    font-size:30px; 
    font-family: 'Yellowtail', cursive;
    padding: 0px;
    font-weight: lighter;
  }