#ind_img{
	position: relative;
	height: 500px;
	background-image: url("/static/images/notepad.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#wel_img{
	position: relative;
	height: 520px;
	background-image: url("/static/images/1welcome.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#right_content{
    width: 400px;
    position: absolute;
    bottom: 30px;
	right: 100px;
    float: right;
    color: darkgray;
}

#appdesc{
	font-size: 20px;
	background-color: #001;
	opacity: 0.6;
	color: white;
	padding: 20px;
	border-radius: 10px;
}

.stand_out{
	font-weight: bolder;
	font-style: italic;
	color: green;
}

.reduce{
	font-size: 15px;
}

.center_form{
	width: 500px;
	margin: 0px auto;
}

.divlab:hover {
    background: #f2f5ff;
    border-radius:5px;
    padding:2px 4px;
}
 .ui.vertical.divider {
    margin: 0 4px;
  }
  .ui.raised.segment {
    background-color: #fffacd;
    width: 600px;
    margin-top: 0;
    position: fixed;
    left: 10px;
    top: 10px;
  }
  .footer {
    text-align: right;
    margin: 0;
  }
  .text {
    display: inline;
  }
  a {
    text-decoration: none;
    color: #1E90FF;
  }
  .home_btn{
    font-size:30px; 
    font-family: 'Yellowtail', cursive;
    padding: 0px;
    font-weight: lighter;
  }
.start{
    position: absolute;
    vertical-align: middle;
    width: 100%;
    margin: 0px auto;
}