{%extends 'event.html'%}

{%block content%}
<div>
    <div class="ui bottom button" style="margin-bottom: 10px;" onclick="$('.ui.modal').modal('show');$('.hide_label').hide();">
      <i class="add icon"></i>
      Add Task
    </div>
	<div id="task_tags">
  </div>

<div class="ui modal" style="height: 400px;">
  <div class="header">
    Set Event Conditions
  </div>
    <div class="ui card" style="width: 500px; margin: 0px auto;">
        <div class="content">
          <label class="pull-left" style="display: block; margin-bottom: 5px;">* Add Task Heading</label>
          <input id="head1" type="text" style="margin-left: 50px;"/>
        </div>
        <div class="content">
          <label class="pull-left" style="display: block; margin-bottom: 5px;">* Add Task Description</label>
          <textarea  id="desc1" rows="4" cols="50" style="margin-left: 50px;"> </textarea>
        </div>
        <div class="content center aligned">
          <button style="padding: 2px 10px; margin-right: 50px;">
            * Date: <input type="text" id="datepicker" style="max-width: 90px;">
          </button>
          <p style="display: inline;" >* Set Time: <input id="durationExample" type="text" class="time" style="max-width: 90px;"/></p>
        </div>
        <label class="pull-left hide_label" style="color: Red; margin-left: 10px;" id="errMessage";>No Text here Now</label>
        <div class="content center aligned">
          <button class="ui primary button" id="btn_save" onclick="validate_event()">
            Save
          </button>
        </div>
    </div>

</div>



</div>
{%endblock%}