{%extends 'title_inherit.html'%}

{%block body1%}
<section>

<div class="ui grid" id="bgimg">
  <div id="appdesc">
  	<p>A web app for easy and effiecient planning of your daily activities. Get in the habit of <span class="stand_out">Do</span>ing it <span class="stand_out">Well</span>!</p>
  	<h3>Key Features</h3>
  	<ul class="reduce">
  		<li>Add Events</li>
  		<li>Set Reminders</li>
  		<li>Ask for Suggestions or Advice.</li>
  		<li>Get travel directions, and lots more!</li>
  	</ul>
  </div>
</div>
</section>
{%endblock%}

