{%extends 'title_inherit.html'%}

{%block center_body%}
<form method=post action="/login">
<div class="ui segment signin" style="position: relative; margin: 0 auto; max-width: 450px;">
  <h3 class="ui inverted block header center aligned"> LOG IN </h3>
  <div class="ui basic segment">
    <div class="column">
      <div class="ui stacked segment">
          <!-- form here -->
          <div class="ui form">
            <div class="field">
              <label> Email </label>
              <div class="ui left labeled icon input">
<!--                <input type="text">-->
                {{ login_form.email }}
                <i class="user icon"></i>
              </div>
                {%if login_form.email.errors%}
                <ul class="errors" style="color: Red;">{%for error in login_form.email.errors%}<li>{{ error }}</li>{%endfor%}</ul>
                {%endif%}
            </div>
            <div class="field">
              <label> Password </label>
              <div class="ui left labeled icon input">
<!--                <input type="password">-->
                {{ login_form.password }}
                <i class="lock icon"></i>
              </div>
                {%if login_form.password.errors%}
                <ul class="errors" style="color: Red;">{%for error in login_form.password.errors%}<li>{{ error }}</li>{%endfor%}</ul>
                {%endif%}
            </div>
            <div class="inline field">
              <div class="ui checkbox">
<!--                <input id="remember" type="checkbox">-->
                {{ login_form.remember_me }}
                <label for="remember"> Remember me </label>
              </div>
            </div>
<!--            <a href="/personal"><div class="ui red submit button center"> Log In </div></a>-->
              <button class="ui red submit button" type=submit>Log In</button>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <!-- text plus button here -->
    <div class="text"> Not a member? </div>
    <div class="ui vertical blue mini button signup">
        <a href="/signup" style="color: white"><div class="visible content"><h5> Sign Up </h5></div></a>
    </div>
  </div>
</div>
</form>
{%endblock%}