<!Doctype HTML>
<html>
	<head>
		{%if page_title%}
		<title>{{page_title}} - DoWell Web App</title>
		{%else%}
		<title>Welcome to DoWell Web App</title>
		{%endif%}
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='semantic/dist/semantic.min.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/general.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favi.ico')}}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.timepicker.css')}}" />
	</head>
	<body>
		<div class="ui menu">
		  <a href="/"><div class="header item home_btn">
		    DoWell
		  </div></a>
		  {%if login_link == True%}
			  <div class="right menu">
			  	<div class="ui menu">
	  				<div class="item">
	    				<a href="/signup"><div class="ui primary button">Sign Up</div></a>
	  				</div>
	  				<div class="item">
	    				<a href="/login"><div class="ui clear button"> Log In </div></a>
	  				</div>
				</div>
			  </div>
      {%elif login_link == False%}
          <div class="ui compact right menu" style="margin-right: 20px;">
            <a class="item">
              <i class="icon mail"></i> Requests
              {%if req_count > 0%}
                <div class="floating ui red label">{{req_count}}</div>
              {%endif%}
            </a>
            <a class="item">
              <i class="icon users"></i>Notifications
              {%if notifi_count > 0%}
                <div class="floating ui teal label">{{notifi_count}}</div>
              {%endif%}
            </a>
          </div>
            <button class="ui button" style="margin: 0px 20px;" onclick="location.href='/index'" >
              Log Out
            </button>
		  {%endif%}
		</div>
  {%if login_link == True or login_link == "welcome"%}
	<div class="ui container attached fluid">
		{%block full_width_body%}
		{%endblock%}
	</div>
  {%else%}
  <div class="ui column container attached">
    {%block center_body%}
    {%endblock%}
  </div>
  {%endif%}


	<div class="ui horizontal center aligned segment" style="clear: both; margin: 0;">
		<p><em>Copyright &copy; DoWell Web Apps 2016.</em></p>
	</div>
  <script src="{{url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{url_for('static', filename='semantic/dist/semantic.min.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.timepicker.js')}}"></script>
  <script src="{{url_for('static', filename='js/general.js')}}"></script>
	</body>

</html>